#titulo1{
	background-color: #FF8F00;
}

body{
	background-color: #003EFF;
}

#barralateral{
	background-color: #E8FF00;
	height:auto ;
	width: 170px;
	position:fixed;
}

#barralateral2{
	background-color: #E8FF00;
	height:940px ;
	width: 170px;
	float: left;
}

#paginaPrincipal{
	background-color: #61FF3A;
	font-style:normal;
	font-size: 20px;
	margin-left: 180px;  
	padding-top: 10px; 
	padding-left: 15px;  
	padding-bottom: 15px;  
	margin-bottom: 10px; 
}

#piePagina{
	background-color: #FF8F00;  
	clear: both;  
	margin-top: 30px;  
	text-align: center; 
	padding: 20px;  
	border-top: 5px solid #FF5500; 
}  

#calidoH{
	background-image: url(1.jpg);
	border:5px;
  	width:350px;
  	height:150px;
}

#calidoS{
	background-image: url(2.jpg);
	border:5px;
  	width:350px;
  	height:150px;
}

#templado{
	background-image: url(3.jpg);
	border:5px;
  	width:350px;
  	height:150px;
}

#seco{
	background-image: url(4.jpg);
	border:5px;
  	width:350px;
  	height:150px;
}